<h1>課程列表</h1>
<%= link_to "新增課程", new_course_path %>
<section class="course">
      <% @courses.each do |course| %>
       <div class="course-card">
        <header class="course-card-title">
          <p>課程名稱：<%= course.theme %></p>
          <p>課程類型：<%= course.category %></p>
          <p>課程價格：<%= course.price %></p>
        </header>
        <article class="course-card-info">
          <p>課程介紹：<%= course.intro %></p>
          <p>課程狀態：<%= course.shelf %></p>
          <div>
          <%= link_to "課程內容", course_path(course)%>
          <%= link_to "編輯課程", edit_course_path(course)%>
          <%= link_to "刪除課程", course_path(course), method: :delete %>
          </div>
        </article>
       </div>
      <% end %>
</section>