<h1><%= @course.theme %></h1>
<p>課程介紹：<%= @course.intro %></p>
<p>課程類型：<%= @course.category %></p>
<p>課程價格：<%= @course.price %></p>
<p>課程觀看期限：<%= @course.valid_date %>天</p>
<p>課程上架日期：<%= @course.start_date %></p>
<p>課程下架日期：<%= @course.end_date %></p>
<p>課程狀態：<%= @course.state %></p>
<p>課程網址：<%= @course.url %></p>